DATABASE_URL="postgresql+psycopg://postgres:wolf@localhost:5432/chatbot_azure_db"

AZURE_DEVOPS_PAT="update_me_please_please"
AZURE_DEVOPS_ORGANIZATION_URL="https://dev.azure.com/sua-org"

OPENAI_API_KEY="update_me_please_please"